body {font-family:sans-serif; }

* {
    margin: 0;
    padding: 0;
    }


.table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    text-align: center;

    margin-top: 100px;
}

.th {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    text-align: center;
   
 }

 .td{
    background-color:darkkhaki;
 }

.input{
    
    box-sizing: border-box;
    font-size: 15px;
    font-family: "DejaVu Serif";
    height: 20px;
}

.button{
    box-sizing: border-box;
    font-size: 15px;
    font-family: "DejaVu Serif";
   
}
.form{
    margin-top: 100px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background: darkgray;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.ul {
    list-style: upper-alpha outside;
}